@{
    ViewData["Title"] = "Category List";
}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">

            <div class="row">
                @*===================*@
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 style="float:left" class="modal-title"><strong>Category</strong></h4>
                    </div>
                </div>
                <div id="myModal" class="modal fade" role="dialog" tabindex='-1'>
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"><i class="ft-user"></i> Category </h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput1">Category Name  </label>
                                            <input type="text" id="txtCategoryName" class="form-control">
                                            <input type="hidden" id="hdnCategoryId" />
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="projectinput8">Description</label>
                                    <textarea id="txtDescription" rows="5" class="form-control"></textarea>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-actions">
                                    <button type="button" class="btn btn-warning mr-1" data-dismiss="modal">Close</button>
                                    <button type="button" id="btnSaveCategory" class="btn btn-primary" onclick="saveCategory()">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @*================*@

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <form class="form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <button type="button" id="btnAddCategoryId" style="float:right" class="btn btn-info btn-sm btn-round" data-toggle="modal" data-target="#myModal" onclick="clearData()"><i class="ft-plus"></i> Add New Category</button>
                                        </div>
                                        <h4 class="form-section"><i class="ft-user"></i> List of Category</h4>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card-content collapse show vtpl-grid-align">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped" id="categorytbl">
                                                            <thead>
                                                                <tr>
                                                                    <th>Category Name</th>
                                                                    <th style="width: 25px;">Edit</th>
                                                                    <th style="width: 25px;">Delete</th>
                                                                </tr>
                                                            </thead>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Category.js"></script>
    
}