@{
    ViewData["Title"] = "Home Page";
}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">

            <div class="row">
                @*===================*@
                <div class="col-md-12">
                    <div class="form-group">
                        @*<button type="button" class="btn btn-primary">Add New Courier</button>*@
                        <h4 style="float:left" class="modal-title"><strong>Home</strong></h4>
                        @*<button type="button" style="float:right" class="btn btn-info btn-sm btn-round" data-toggle="modal" data-target="#myModal" onclick="clearData()"><i class="ft-plus"></i> Add New Branch</button>*@
                    </div>
                </div>
                
                @*================*@

                
            </div>
        </div>
    </div>
</div>
@section scripts{
    
}